body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: white;
  background-color: #4b6cb7;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  margin: -20px -20px 20px;
}

#search-section {
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#city-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button[type="submit"],
#clear-history {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#clear-history {
  padding: 10px 20px;
  border: none;
  background-color: #FF0000; /* Red color */
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

#search-history {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 20px;
}

#search-history button {
  padding: 10px;
  border: none;
  background-color: #ccc;
  color: #333;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

#search-history button:hover {
  background-color: #bbb;
}

#current-weather {
  margin-bottom: 20px;
}

.weather-card {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#forecast {
  display: flex;
  justify-content: space-between;
}

.forecast-card {
  background-color: #333;
  color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 18%;
  text-align: center;
}

.forecast-card img {
  width: 40px;
  height: 40px;
}

.weather-card, .forecast-card {
  margin: 2px;
}

.hidden {
  display: none;
}

#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
